body {
  margin: 0px;
}
* {
  touch-action: pan-y;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
}

a,
button,
input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}
