$anmation-time: 0.3s;

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes slideUp {
  0% {
    transform: translate3d(0, 15px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 15px, 0);
    opacity: 0;
  }
}

.rotate {
  animation: rotate 1s infinite linear;
}

.fadeIn {
  animation: fadeIn $anmation-time linear forwards;
}

.fadeOut {
  animation: fadeOut $anmation-time linear forwards;
}

.slide-up {
  animation: slideUp $anmation-time linear forwards;
}

.slide-down {
  animation: slideDown $anmation-time linear forwards;
}
